<div class="container">
  <div class="content">
    <h1 class="title">ОБО МНЕ</h1>
    <div class="sub-title">
      Клинический психолог, гипнолог, специалист по современной психосоматике
    </div>
    <button
      class="about"
      (click)="modal.switchVisibility(); modal.setType('skills')"
    >
      Образование и опыт
    </button>
    <a target="_blank" href="https://t.me/yanaishenko"
      ><button class="about">Телеграмм канал</button></a
    >
  </div>
  <img
    class="img"
    src="https://sun9-80.userapi.com/impg/ySyjTHGvRwFI1h-ZyCPEnpqby7hJ8jIplepFBQ/gmEgqCBy9i0.jpg?size=1534x2160&quality=95&sign=fcd8682a17030a63d56c9ef7879ae57f&type=album"
    alt="my photo"
  />
</div>
<div class="line"></div>
