<div class="container">
  <div class="content">
    <h1 class="title">План действий</h1>
    <h2 class="sub-title">Как всё происходит?</h2>
    <p class="description">
      <span>!</span> В случае опоздания (максимум 5 минут), переноса или отмены
      консультации по твоей инициативе деньги не возвращаются и не идут в счёт
      следующей консультации
    </p>
    <div class="plan">
      <div class="plan-item">
        <div class="step">Шаг первый</div>
        <div class="dot"></div>
        <h3 class="plan-item__content__titile">
          Ты выбираешь и покупаешь подходящий тариф
        </h3>
        <p class="plan-item__content__description">
          По всем вопросам можно написать в Telegram @Yana Ischenko
        </p>
      </div>
      <div class="plan-item">
        <div class="step">Шаг второй</div>
        <div class="dot"></div>
        <h3 class="plan-item__content__titile">
          После оплаты в течение суток ты получишь сообщение в Telegram
        </h3>
        <p class="plan-item__content__description">
          Там мы выбираем удобное время для консультации. Стандартное время
          приёма: в течение 7-ми дней
        </p>
      </div>
      <div class="plan-item">
        <div class="step">Шаг третий</div>
        <div class="dot"></div>
        <h3 class="plan-item__content__titile">Консультация</h3>
        <p class="plan-item__content__description">
          Для качественной работы:
          <li>― оденься удобно, чтобы быть готовой телеснымпрактикам</li>
          <li>
            ― обеспечь себе тихое место, где никто не побеспокоит выключи
            уведомления
          </li>
          <li>
            ― подготовь ручку и блокнот, чтобы делать важные заметки и иметь
            возможность к ним вернуться
          </li>
          <li>― доверься и будь открыта любой информации</li>
        </p>
      </div>
    </div>
  </div>
</div>
