<div class="bottom-panel">
  <a target="_blank" href="https://vk.com/ischenkoyana"
    ><img class="link" src="assets/icons/vk.svg" alt=""
  /></a>
  <a target="_blank" href="https://t.me/yanaishenko"
    ><img class="link" src="assets/icons/telegram.svg" alt=""
  /></a>
  <a href="https://instagram.com/yana.ishenko?igshid=MzRlODBiNWFlZA=="
    ><img class="link" src="assets/icons/instagram.svg" alt=""
  /></a>
  <a href="#"><img class="link" src="assets/icons/whatsapp.svg" alt="" /></a>
  <a class="phone" target="_blank" href="tel:+79592554297">
    +7 959 255 42 97
  </a>
</div>
