.administrator-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 35px 0;
}
.return {
  display: flex;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  justify-content: center;
  align-items: center;
  align-self: center;
  font-family: "Exo 2", sans-serif;
  font-size: 25px;
  height: 60px;
  width: fit-content;
  cursor: pointer;
  padding: 0 20px;
  font-weight: bold;
  transition: 0.3s ease-in-out;
}
.return:hover {
  box-shadow: 1px 1px 13px rgba(142, 144, 243, 0.9);
}
