<div
  (mousedown)="
    $event.currentTarget == $event.target ? modal.switchVisibility() : null
  "
  class="container"
>
  <div class="navigation-wrapper" *ngIf="modal.getType() === 'navigation'">
    <app-navbar [modalType]="true"></app-navbar>
  </div>
  <div class="skills-wrapper" *ngIf="modal.getType() === 'skills'">
    <ul class="skills">
      <li>Клиническая психология (Московский Институт Психоанализа)</li>
      <li>
        Кризисная психология (Национальный исследовательский институт
        дополнительного образования и профессионального обучения)
      </li>
      <li>
        Современный гипноз и активация сознания (Курс Сергея Болсуна. Три
        ступени)
      </li>
      <li>
        Современный гипноз и активация сознания (Курс Сергея Болсуна "Мастер")
      </li>
      <li>Школа PSY 2.0. Базовый курс</li>
      <li>
        Курс классического гипноза д.м.н. Афанасьева Б.Г., Московский институт
        гипноза и НЛП.
      </li>
      <li>
        Курс «Десенсибилизация и переработка вижением глаз» И.Н.Нифатов.,
        Московский институт гипноза и НЛП.
      </li>
      <li>Авторский семинар Екатерины Пыхаревой «Взаимодействие с телом»</li>
      <li>
        Институт психологии и психотерапии им. Милтона Эриксона ( НЛП - Практик)
      </li>
      <li>Курс "Основы Новой Германской Медицины" К.Кокорина</li>
      <li>Курс "Констелляции" К.Кокорина</li>
      <li>Более 1000 часов личной практики</li>
      <li>Более 200 часов личной терапии и супервизии</li>
    </ul>
  </div>
  <app-item-edit-form
    *ngIf="modal.getType() === 'item-edit-form'"
  ></app-item-edit-form>
  <app-order-form *ngIf="modal.getType() === 't-btn-from'"></app-order-form>
</div>
