<!-- <app-modal [ngClass]="modal.visibility ? 'showModal' : 'hideModal'"></app-modal> -->
<div class="container">
  <app-modal *ngIf="modal.visibility"></app-modal>
  <app-top-panel id="top"></app-top-panel>
  <router-outlet></router-outlet>
  <!-- <app-main-page></app-main-page> -->
  <app-notification
    class="notification"
    *ngIf="notification.getVisibility()"
  ></app-notification>
  <app-footer></app-footer>
  <a class="link-top" [routerLink]="['']" fragment="top"
    ><img src="assets/icons/top.svg" alt="top top icon"
  /></a>
</div>
