<div class="container">
  <h2 class="title">О консультации</h2>
  <div class="content">
    <div class="content__item">
      <img src="assets/icons/stream.svg" alt="stream icon" class="icon" />
      <h2 class="content__item__title">Онлайн-формат</h2>
      <p class="description">Видеосозвон с доступом из любой точки мира</p>
    </div>
    <div class="content__item">
      <img src="assets/icons/time.svg" alt="time icon" class="icon" />
      <h2 class="content__item__title">50 минут</h2>
      <p class="description">Оптимум для наилучшего результата</p>
    </div>
    <div class="content__item">
      <img src="assets/icons/date.svg" alt="date icon" class="icon" />
      <h2 class="content__item__title">Обратная связь</h2>
      <p class="description">В течение 3-х дней после консультации</p>
    </div>
  </div>
</div>
<div class="line"></div>